{% extends "base.html" %}

{% load crispy_forms_tags %}


{% if title %}
{% block title %}

{{title}}

{% endblock title %}

{% endif %}



{% block body %}
<div>
    <div class="container forms">
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
        {% endif %}

        <form class="form" method="post">

            <h3 class="form-title text-center mb-3">
                {% if title %}
                {{title}}
                {% endif %}
            </h3>
            {% csrf_token %}
            <label for="username">আপনার কন্টাক্ট নাম্বার</label><br>
            <input type="text" name="username" class="form-control" required>
            <label for="username">পাসওয়ার্ড</label><br>
            <input type="password" name="password" class="form-control" required>
            <input class="form-control btn btn-block bg-danger text-white" type="submit" value="লগিন করুন">

        </form>
        <hr>
        <p class="font-bold">আপনার যদি কোনো একাউন্ট না থাকে তবে আজই রেজিস্ট্রেশন করে আমাদের সাথে যুক্ত হন। রেজিস্ট্রেশন
            করতে <a href="{% url 'register' %}">এখানে ক্লিক করুন</a></p>
    </div>

</div>



{% endblock body %}