{% extends "base.html" %}
{% load crispy_forms_tags %}


{% if title %}
{% block title %}

{{title}}

{% endblock title %}

{% endif %}



{% block body %}
<div class="container forms">


    <form action="{% url 'create_account' %}" method="post" autocomplete="off">
        <h3 class="form-title text-center mb-3">
            {% if title %}
            {{title}}
            {% endif %}
        </h3>
        {% csrf_token %}

        <div class="form-group">
         
            <input type="email" name="email" placeholder="আপনার ইমেইল লিখুন" class="textinput textInput form-control"
                required id="email">

        </div>
        <div class="form-group">

     
            <input type="text" name="name" placeholder="আপনার নাম লিখুন" class="textinput textInput form-control" required id="name">

        </div>
        <div class="form-group">

     
            <input type="password" name="password1" placeholder="আপনার একটি পাসওয়ার্ড সেট করুন" class="textinput textInput form-control" required id="password1">

        </div>
        <div class="form-group">

     
            <input type="password" name="password2" placeholder="পুনরায় একই পাসওয়ার্ড লিখুন" class="textinput textInput form-control" required id="password2">

        </div>
        {%if pass_error %}
        <span class="text-danger">{{pass_error}}</span>
        <br>
        {%endif %}

        <input class="form-control btn btn-block bg-danger text-white" type="submit" value="সাবমিট করুন">

    </form>

    <hr>
    <p class="font-bold">আপনি যদি আগেই আমাদের ওয়েবসাইট এ একাউন্ট করে থাকেন তবে <a href="{% url 'login' %}">এখানে
            ক্লিক করে</a> লগিন করুন </p>

</div>

{%include "loader.html" %}

{% endblock body %}




{% block js %}
<script>

    document.addEventListener('submit', function(e) {    
        toggleLoader();
    })
        

</script>
{% endblock js %}