{% load static %}

<footer>
    <div class="footer-top">

        <div class="container row m-auto">
            <div class="col-md-4">
                <h3 class="footer-title">রক্তদিন </h3>
                <p class="about-us">
                    রক্তদিন একটি মানবসেবামূলক ওয়েবসাইট। জার মাধ্যমে আপনারা সহজেই সারা বাংলাদেশের অসংখ্য রক্তদাতাদের তথ্য
                    পেয়ে যাবেন আপনার লোকেশন এবং প্রয়োজনীয় রক্তের গ্রুপ অনুযায়ী
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">অন্যান্য পেজসমুহ</h3>
                <ul class="text-white">
                    <a class="footer-links" href="#">
                        <li>আমাদের সম্পর্কে</li>
                    </a>
                    <a class="footer-links" href="{% url 'volunteers' %}">
                        <li>Volunteers</li>
                    </a>
                    <a class="footer-links" href="{% url 'mentors' %}">
                        <li>Mentors</li>
                    </a>
                    <a class="footer-links" href="{% url 'advisers' %}">
                        <li>উপদেষ্টা</li>
                    </a>
                    <a class="footer-links" href="{% url 'volunteers' %}">
                        <li>Volunteers</li>
                    </a>
                    <a class="footer-links" href="#">
                        <li>সতর্কবার্তা</li>
                    </a>
                    <a class="footer-links" href="#">
                        <li>টার্মস এবং কন্ডিশন্স</li>
                    </a>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">আমাদের সাথে যোগাযোগ করুন </h3>
                <p>আমাদের ইমেইল করুন : support@roktodin.com</p>
                <div class="social-area">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-whatsapp"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center bg-danger text-white"> All Rights Reserved 2021 </div>
</footer>




<script src="{% static  '' %}js/bootstrap.min.js"></script>
<script src="{% static  '' %}js/vendor/jquery-1.12.4.min.js"></script>

<script src="{% static  '' %}js/main.js"></script>